@import "./colors";
@import './variables';

body {
    width: 100%;
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    background: rgb(235, 226, 226);
}

header {
    display: block;
}

nav {
    // background: rgb(138, 138, 168);
    @include flex-elements;
    position: relative;
    height: 70px;


    .logo {
        @include flex-elements-c;
        width: 200px;
        cursor: pointer;
        // background: red;
        font-size: 1.2em;
        display: flex;
        justify-content: center;

        p {
            font-size: 1.3em;
        }
    }

    .to-left {
        width: 35%;

        ul {
            @include flex-elements;
            position: relative;

            .drop {
                background: rgb(196, 196, 207);
                position: absolute;
                z-index: 20;
                height: 110px;
                line-height: 2em;
                width: 150px;
                box-shadow: 1px 1px 5px grey;
                margin-left: 0;
                margin-top: 0;
                display: none;

                li {
                    transition: all 800ms ease;
                    // margin-left: 1em;
                    padding-left: .3em;
                    width: 100%;

                    &:hover {
                        background: rgb(132, 132, 163);
                    }
                }
            }

            li {

                &:hover {

                    .drop {
                        display: block;
                        color: lightblue;
                    }
                }

            }
        }


        .f {
            width: 250px;
            float: right;

            li {
                width: 100px;
                height: 30px;
                @include flex-elements-c;
                transition: all 800ms ease;
                padding-left: 5px;

                &:hover {
                    color: rgb(238, 241, 241);
                    background: rgb(135, 135, 165);
                    border-radius: 5px;

                    a {
                        color: white;
                    }
                }
            }
        }
    }
}


.content {
    @include flex-elements-c(column);
    // position: inherit;
    margin-top: 1em;
    width: 100%;


}

.content-2 {
    @include flex-elements-c(column);
    max-width: 865px;
    // background: green;


}

.about-us {
    margin-top: 2em;

    h3 {
        margin-top: 1em;
        margin-bottom: .5em;
    }

    .fmove {
        width: 860px;

    }
}



.interests {
    margin-top: 2em;

    .turtle {
        @include flex-elements;
        margin-left: 0;
        margin-top: 0;
        line-height: 0;
        margin-bottom: 1em;

        li {

            img {
                width: 150px;
                height: 150px;
                border-radius: 10px;
                cursor: pointer;
                transition: all 500ms ease;

                &:hover {
                    box-shadow: 1px 1px 10px grey, -1px -1px 10px grey;
                }
            }
        }
    }

}

.web-dev {
    margin-top: 2em;

    .prog-lang {
        margin-top: 1em;
        margin-bottom: 1em;
        width: 100%;

        li {
            text-align: center;
            @include flex-elements;
            max-width: 650px;

            img {
                width: 150px;
                height: 150px;
                border-radius: 10px;
                cursor: pointer;
                transition: all 500ms ease;

                &:hover {
                    box-shadow: 1px 1px 10px grey, -1px -1px 10px grey;
                }
            }
        }
    }
}

.img-contain {
    width: 870px;
    height: 470px;
    overflow: hidden;
    display: flex;
    position: relative;
    margin-bottom: 1em;

    .contain-img {
        display: flex;
    }

    .main-img {
        width: 870px;
        height: 470px;
        margin-bottom: 1em;
        animation: slide 16s infinite;
    }

    @keyframes slide {
        0% {
            transform: translateX(0);
        }

        25% {
            transform: translateX(0);
        }

        30% {
            transform: translateX(-100%);
        }

        50% {
            transform: translateX(-100%);
        }

        55% {
            transform: translateX(-200%);
        }

        75% {
            transform: translateX(-200%);
        }

        80% {
            transform: translateX(-300%);
        }

        85% {
            transform: translateX(-300%);
        }

        100% {
            transform: translateX(-400%);
        }

    }
}


.electronics {
    img {
        margin-left: 0;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

h3 {
    margin-bottom: .3em;
    margin-top: .1em;
}

span {
    color: blue;
}

ul {
    // background: blue;
    margin-left: 1em;
    margin-top: .2em;
    line-height: 2em;

    li {
        color: lightblue;

    }
}

.goto {
    @include flex-elements-c;
    margin-top: 2em;
    width: 210px;
    height: 50px;
    border-radius: 10px;
    background: blue;
    cursor: pointer;
    transition: all 500ms ease;

    a {
        color: white;

        &:visited {
            color: white;
        }
    }

    &:hover {
        box-shadow: 1px 1px 10px grey, -1px -1px 10px grey;
        background: rgb(35, 35, 211)
    }
}


// FOOTER
footer {
    @include flex-elements-c(column);
    margin-top: 2em;
    background: rgba($color: black, $alpha: .50);
    width: 100%;
    height: 300px;

    .moto {
        @include flex-elements-c(column);
        margin-bottom: 1em;
        color: white;
    }

    .slogan {
        @include flex-elements-c(column);

        .by {
            margin-top: 2em;
            @include flex-elements-c(column);
            line-height: .5em;
            color: rgb(221, 204, 204);
        }

    }

    .social {
        display: flex;
        gap: 10px;
        cursor: pointer;

        img {
            border-radius: 4px;
            width: 30px;
            height: 30px;

            &:hover {
                box-shadow: 2px 2px 5px rgb(235, 221, 221), -2px -2px 5px rgb(235, 221, 221);
            }
        }
    }
}

// JOIN FORM

.join {
    width: 200px;
    height: 30px;
    background: blue;
    @include flex-elements-c;
    border-radius: 5px;
    margin-top: 1em;
    cursor: pointer;
}


// OVERLAYED FORM

.join-f {
    @include flex-elements-c(column);
    background: rgba($color: black, $alpha: .50);
    position: fixed;
    width: 100%;
    transform: (-50%, -50%);
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    transition: all 400ms ease;
    display: none;
    padding: 20px;

    .f {
        font-size: 1.5em;
        position: absolute;
        top: 15px;
        right: 20px;
        transition: all 400ms ease;

        &:hover {
            color: white;
        }
    }

    .cl {
        position: absolute;
        color: white;
        top: 12px;
        right: 18px;
        cursor: pointer;
        font-size: 1.4em;
        transition: all 300ms ease;

        &:hover {
            color: darkblue;
        }
    }

    // form {
    //     display: flex;
    //     align-items: center;
    //     flex-direction: column;
    //     background: white;
    //     width: 500px;
    //     color: black;
    //     height: 400px;
    //     border-radius: 10px;
    //     padding: 10px;
    //     position: relative;


    // .inner {
    //     @include flex-elements-c(column);

    //     .span {
    //         // background: red;
    //         position: absolute;
    //         background: red;
    //         width: 1.6em;
    //         height: 1.6em;
    //         top: 8px;
    //         right: 17px;
    //         color: black;

    //     }


    //             input,
    //             .input {
    //                 width: 250px;
    //                 height: 30px;
    //                 margin-top: .7em;
    //                 border-radius: 5px;
    //                 border: 1px solid grey;
    //                 outline: none;
    //                 padding-left: 1em;
    //                 font-size: 1.1em;
    //                 transition: all 500ms ease;

    //                 &:focus {
    //                     border: 1px solid rgb(66, 66, 248);
    //                     box-shadow: 1px 1px rgb(166, 166, 241), -1px -1px rgb(165, 165, 243);
    //                 }
    //             }

    //             #submit {
    //                 background: blue;
    //                 display: flex;
    //                 justify-content: center;
    //                 align-items: center;
    //                 color: white;
    //                 padding-left: 0px;
    //                 cursor: pointer;
    //             }

    //             #pic {
    //                 border: none;
    //                 padding-left: 0px;
    //             }

    //         }
    //     }

    // 
}